/* universal style */
* {
    padding: 0;
    margin: 0;
}

body {
    background: black;
    box-sizing: border-box;
}

/* fonts */

.inter-font {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.miama-font {
    font-family: 'Miama', sans-serif;
    font-size: 10rem;
    font-weight: 400;
    line-height: 50%;
}


/* Fixed attributes */
.width-primary {
    width: calc(100% - 13%);
    margin: 0 auto;
}

.display-flex {
    display: flex;
}

/* colors*/
.color-orange-text {
    color: rgb(230, 83, 60);
}

.color-orange-bg {
    background-color: rgb(230, 83, 60);
}

.color-primary {
    color: rgba(255, 255, 255, 0.5);
}

/* nav section style */
header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.1) 100%);
}

.fitness-container {
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.fitness-container ul {
    justify-content: space-evenly;
}

.fitness-container ul li {
    list-style: none;
    margin: 0 20px;
    padding: 8px 15px;
}

.fitness-container ul a {
    text-decoration: none;
    color: white;
}

.fitness-container nav ul {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 4px;
}

.fitness-container .header {
    font-weight: 800;
    font-size: 2.25rem;
    font-style: italic;
}

.fitness-container ul .home {
    border-radius: 45px;
}

.fitness-container i {
    display: none;
}

.fa-solid {
    color: white;
    font-size: 1.56rem;
}

/*Banner section style  */

.banner-container {
    align-items: center;
    margin-top: 32px;
    justify-content: space-between;
}

.banner-title {
    font-size: 4.88rem;
    color: white;
    font-weight: 900;

}

.banner-description {
    font-weight: 400;
    margin: 28px 0;
}

.btn-primary {
    border-radius: 42px;
    width: 224px;
    height: 54px;
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
    border: none;
    margin-right: 15px;
    margin-bottom: 15px;
}

.btn-secondary {
    border-radius: 42px;
    width: 224px;
    height: 54px;
    font-weight: 600;
    font-size: 1.125rem;
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    margin-bottom: 15px;

}

.banner-img-container {
    position: relative;
    margin-left: 50px;
}

.notification-btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(10px);
    padding: 15px;
    text-align: left;

}

.position-notification-1 {
    position: absolute;
    right: -8%;
    top: 20%;
}

.position-notification-2 {
    position: absolute;
    left: -20%;
    bottom: 13%;
}

.banner-img-container .circle {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 12px;
    position: relative;
    top: 7px;
}

.notification2 {
    align-items: center;
}

.notification-tile1 {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.notification-tile2 {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

/* change habit style */
.habit-container {
    margin-top: 100px;
}

.habit-text-container {
    text-align: center;

}

.habit-title {
    font-weight: 900;
    font-size: 3rem;
    color: white;
}

.habit-description {
    font-size: 0.875rem;
    margin-top: 15px;
    margin-bottom: 50px;
}

.habit-img-card-container img {
    border-radius: 50%;
    border: 3px solid rgb(53, 53, 53);
}

.habit-img-card-container {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* column-gap: 12.5%; */
}

.habit-img-card-container .title {
    font-size: 1.125rem;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    margin-bottom: 6px;
}

.habit-img-card-container .description {
    font-weight: 400;
    font-size: 0.875rem;
}

/* run extra style */
.extra-container {
    box-sizing: border-box;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    align-items: center;
    padding: 30px;
    padding-left: 50px;
    padding-bottom: 20px;
    justify-content: space-between;
    margin-top: 100px;
}

.extra-text-container .title {
    font-size: 3rem;
    font-weight: 900;
    color: white;
}

.extra-text-container .description {
    font-weight: 400;
    font-size: 0.875rem;
    margin-top: 14px;
    margin-bottom: 34px;
}

.extra-img-container .image {
    height: 312px;
    width: 366px;
    border-radius: 18px;
    object-fit: none;
    object-position: 66% 30%;
}

/* bmi calculator part 1 style */
.bmi-text-container {
    width: calc(100% - 26.7%);
    margin: 0 auto;
    margin-top: 100px;
}

.bmi-text-container .title {
    font-weight: 900;
    font-size: 3rem;
    color: white;
    margin-bottom: 15px;
}

.bmi-text-container .description {
    font-size: 0.875rem;
}

/* bmi calculator part 2 style */
.bmi2 {
    margin-top: 88px;
    background: rgb(34, 34, 34);
}

.bmi-container {
    box-sizing: border-box;
    padding: 52px 0px;
    /* border: 2px solid red; */
    justify-content: space-between;
}

.chart .title {
    color: white;
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 50px;
}

.chart tr th {
    color: white;
    font-weight: 500;
    font-size: 1rem;
}

.chart tr td {
    font-size: .875rem;
}

.chart table,
tr,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-collapse: collapse;
    text-align: left;
}
table{
    width: 100%;
}
.chart th,td{
    padding: 15px 24px;
}

.calculator .title {
    color: white;
    font-weight: 900;
    font-size: 1.75rem;
}

.calculator .description {
    font-size: .875rem;
    margin-top: 14px;
    margin-bottom: 34px;
}

.settings-form{
    box-sizing: border-box;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    width: 100%;
    border: none;
}
select , input::placeholder , input{
    color: rgba(255, 255, 255, 0.5);;
}
input::backdrop{
    border: none;
}

form{
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    gap: 12px;
    margin-bottom: 34px;
}
#activity{
    grid-column: span 2;
}
select option{
    background-color: rgba(0, 0, 0, .5);
}

/* Small device style */
@media screen and (max-width: 576px) {

    .fitness-container nav {
        display: none;
    }

    .fitness-container i {
        display: flex;
    }

    .banner-container,
    .extra-container,
    .bmi-container {
        flex-direction: column;
    }

    .banner-title {
        font-size: 2.25rem;
    }

    .miama-font {
        font-size: 5rem;
    }

    .btn-primary {
        width: 150px;
        font-size: 1rem;
    }

    .btn-secondary {
        width: 150px;
        font-size: 1rem;
    }

    .position-notification-1 {
        position: absolute;
        transform: scale(0.8);
        right: 0%;
        top: 9%;
    }

    .position-notification-2 {
        position: absolute;
        left: 0%;
        bottom: 42%;
    }

    .habit-container {
        margin-top: 0;
    }

    .habit-title {
        font-size: 2rem;
    }

    .habit-img-card-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 35px;
    }

    /* .extra-img-container{
        transform: scale(0.8);
    } */
    .extra-container {
        padding-left: 30px;
    }

    .extra-img-container .image {
        height: 170px;
        width: 300px;
        border-radius: 18px;
        object-fit: cover;
        /* object-position:-50px 0px; */
        /* transform: scale(0.35); */
    }

    .extra-text-container .btn-primary {
        width: 100%;
        margin-bottom: 30px;
    }

    .bmi-text-container {
        width: calc(100% - 13%);
    }
    .calculator{
        margin-top: 34px;
    }
    .calculator .btn-primary{
        width: 60%;
    }
}